@font-face {
  font-family: 'Butler';
  src: url('/fonts/butler/Butler_Regular.otf') format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Butler';
  src: url('/fonts/butler/Butler_Medium.otf') format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: auto;
}

.font-serif {
  font-family: "Butler";
}